.home-page {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    .home-container {
        position: relative;
        margin: 0 auto;
        width: 70%;
        margin-top: 7%;
        height: 75%;
    }
    .link {
        color: white;
        background: pink;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-family: $spongeBob;
    }
    .home-play {
        border-radius: 50%;
        position: absolute;
        top: 60%;
        left: 60%;
        width: 180px;
        height: 180px;
        font-size: 60px;
        font-family: $boring;

        
        .link {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .home-auth {
        width: 120px;
        height: 60px;
        position: absolute;
        font-size: 25px;
        padding-top: 7px;
    }

    .sign-up {
        position: absolute;
        left: 28%;
        top: 76%;

    }

    .login {
        position: absolute;
        left: 43%;
        top: 76%;
    }

    .home-title-text-unicorn {
        font-family: $unicornFont;
        font-size: 120px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        line-height: .7;
    }
    
    .home-title-text-vs {
        font-family: $plainFont;
        text-align: center;
        font-size: 30px;
        margin-bottom: 8px;
    }
    
    .home-title-text-bubbles {
        font-family: $cartoonFont;
        font-size: 120px;
        text-align: right;
    }

    .rainbow-unicorn {
        position: absolute;
        top: 150px;
        left: -110px;
        transform: rotate(-15deg);
    }

    .pink-unicorn {
        position: absolute;
        top: -30px;
        left: 690px;
        transform: rotate(15deg);
    }

    .raspberry-unicorn {
        position: absolute;
        top: 145px;
        left: 810px;
        transform: rotate(-5deg);
    }
}



.home-title {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 0px;
    position: absolute;
    top: 15%;
    left: 15%;
}


.home-message {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    width: 300px;
    text-align: center;
    line-height: 1.25;
    letter-spacing: 1.25px;
    position: absolute;
    top: 62%;
    left: 27%;
}