nav {
    height: 15%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    margin: 0 auto;
    background: $lightSea;
    padding-bottom: 40px;
    // box-shadow: 0px 0px 25px 25px $lightSea;

    a:hover {
        color: $seaGreen;
    }

    a:active {
        color: pink;
    }
}

.home-link {
    width: 10px;
    height: 10px;
    //Set size of fontAwesome icon
    font-size: 39px;
    margin-left: 15px;
}

.fa-home:hover {
    color: $seaGreen;
}

.fa-home:active {
    color: pink;
}

.logout-button {
    width: 10px;
    height: 10px;
    margin-right: 100px;
    margin-left: 33px;
    font-family: 'Lakki Reddy', cursive;
    color: white;
    font-size: 30px;
    letter-spacing: 1.3px;
}

.logout-button:hover {
    color: $seaGreen;
}

.logout-button:active {
    color: pink;
}

a {
    color: white;
}


.restart-logout-div {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
}

.nav-logout {
    letter-spacing: 1.3px;
}