@mixin popup($textColor, $background){
    color: $textColor;
    background: $background;
}

%popupBox {
    height: 80%;
    width: 88%;
    border-radius: 5px;
    position: absolute;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 50px;
        font-size: 55px;
        font-family: $spongeBob;
        text-align: center;
    }

    h2 {
        font-size: 32px;
        font-family: $boring;
    }

    .button {
        text-align: center;
        width: 200px;
        height: 110px;
        font-size: 40px;
        background: $seaGreen;
        box-shadow: 0px 2px 5px 5px white;
    }

    .play-again {
        padding-top: 20px;
    }
}