@mixin popup($textColor, $background){
    color: $textColor;
    background: $background;
}

%popupBox {
    height: 200px;
    width: 370px;
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
}