@mixin popup($textColor, $background){
    color: $textColor;
    background: $background;
}

%popupBox {
    height: 80%;
    width: 80%;
    border-radius: 5px;
    position: absolute;
    margin: 0 auto;
}