// Color variables
$seaGreen: #22B8D1;

//Font variables
$unicornFont: 'Mystery Quest', cursive;
$plainFont: 'Acme', sans-serif;
$cartoonFont: 'Luckiest Guy', cursive;
$spongeBob: 'Lakki Reddy', cursive;
$boring: 'Source Sans Pro', sans-serif;